AIRFLOW_UID=5000
DB_HOST=postgres-app
DB_PORT=5432
DB_USER=app
DB_PASSWORD=app
DB_NAME=appdb


AIRFLOW_DB_USER=airflow
AIRFLOW_DB_PASSWORD=airflow
AIRFLOW_DB_NAME=airflow


AIRFLOW_PROJ_DIR=./airflow
MLFLOW_TRACKING_URI=http://mlflow:5000


VIEW_NAME=any_view_name
STAGING_VIEW_NAME=any_staging_view_name


AWS_ACCESS_KEY_ID=minio
AWS_SECRET_ACCESS_KEY=minio123
AWS_DEFAULT_REGION=us-east-1


S3_ENDPOINT_URL=http://minio:9000
MLFLOW_S3_ENDPOINT_URL=http://minio:9000


OPENROUTER_API_KEY=your_api_key (Obtain it on https://openrouter.ai/)
